.auth-container {
  max-width: 450px;
  margin: 40px auto;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.auth-welcome {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 0;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-title {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 1.8rem;
  color: #222;
}

.auth-input {
  padding: 12px;
  font-size: 1em;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  width: 100%;
}

.auth-button {
  padding: 12px;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.auth-switch {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #333;
}

.auth-switch a {
  font-weight: 600;
  color: #007bff;
}

.auth-error {
  color: #dc3545;
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.auth-success {
  color: #28a745; /* Verde */
  margin: 0;
  text-align: center;
  font-weight: 500;
}