name: CI Frontend + GitHub Pages - RedSocialFront
on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop", "main" ]
jobs:
  build-and-deploy:
    name: Build frontend y despliegue en GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write # Permiso necesario para el deploy

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Instalar dependencias
        run: npm install

      - name: Build del proyecto
        run: npm run build

      - name: Desplegar en GitHub Pages (branch gh-pages)
        if: github.ref == 'refs/heads/main'   # Solo despliega cuando el push es a main
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
